In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from pycaret.regression import *

In [2]:
data = pd.read_csv('kc_house_data.csv')

In [3]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [5]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [6]:
columns = ['id', 'date', 'zipcode', 'lat', 'long']
data_clean = data.drop(columns=columns, axis=1)

In [7]:
data_clean.dtypes

price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [8]:
data_clean.columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'sqft_living15',
       'sqft_lot15'],
      dtype='object')

In [9]:
setup = setup(data_clean, target='price', train_size=0.6, n_jobs=-1, verbose=False, numeric_features=['bedrooms', 'waterfront', 'view', 'condition', 'grade'])

Text(value="Following data types have been inferred automatically, if they are correct press enter to continue…

              Data Type
bedrooms        Numeric
bathrooms       Numeric
sqft_living     Numeric
sqft_lot        Numeric
floors          Numeric
waterfront      Numeric
view            Numeric
condition       Numeric
grade           Numeric
sqft_above      Numeric
sqft_basement   Numeric
yr_built        Numeric
yr_renovated    Numeric
sqft_living15   Numeric
sqft_lot15      Numeric
price             Label

In [10]:
# exclude = ['']
best_models = compare_models(fold=5)

IntProgress(value=0, description='Processing: ', max=99)

Initiated  . . . . . . . . . . . . . . . . . .                   16:01:36
Status     . . . . . . . . . . . . . . . . . .            Fitting 5 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Extreme Gradient Boosting

/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 227242122674176.0, tolerance: 133845565440.0
  model = cd_fast.enet_coordinate_descent(
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 242531283501056.0, tolerance: 144569745408.0
  model = cd_fast.enet_coordinate_descent(
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 225484675743744.0, tolerance: 136171544576.0
  model = cd_fast.enet_coordinate_descent(
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 215473778065408.0, tolerance: 137430130688.0
  model = cd_fast.enet_coordinate_descent(
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 221722536050688.0, tolerance: 137922347008.0
  model = cd_fast.enet_coordinate_descent(
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/linear_model/_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=2.84084e-12): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/linear_model/_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.75283e-12): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/linear_model/_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=2.03469e-12): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 286020125851648.0, tolerance: 137922347008.0
  model = cd_fast.enet_coordinate_descent(
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 277491444875264.0, tolerance: 137430130688.0
  model = cd_fast.enet_coordinate_descent(
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 275229037297664.0, tolerance: 133845565440.0
  model = cd_fast.enet_coordinate_descent(
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 280283039399936.0, tolerance: 136171544576.0
  model = cd_fast.enet_coordinate_descent(
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 294145700659200.0, tolerance: 144569745408.0
  model = cd_fast.enet_coordinate_descent(
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute standard_coef_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute standard_coef_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute standard_coef_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute standard_coef_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute standard_intercept_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute standard_intercept_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute standard_intercept_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute standard_intercept_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute average_coef_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute average_coef_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute average_coef_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute average_coef_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute average_intercept_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute average_intercept_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute average_intercept_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute average_intercept_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute standard_coef_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute standard_intercept_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute average_coef_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute average_intercept_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/tree/_classes.py:1254: FutureWarning: the classes_ attribute is to be deprecated from version 0.22 and will be removed in 0.24.
  warnings.warn(msg, FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/tree/_classes.py:1262: FutureWarning: the n_classes_ attribute is to be deprecated from version 0.22 and will be removed in 0.24.
  warnings.warn(msg, FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/tree/_classes.py:1254: FutureWarning: the classes_ attribute is to be deprecated from version 0.22 and will be removed in 0.24.
  warnings.warn(msg, FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/tree/_classes.py:1262: FutureWarning: the n_classes_ attribute is to be deprecated from version 0.22 and will be removed in 0.24.
  warnings.warn(msg, FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/tree/_classes.py:1254: FutureWarning: the classes_ attribute is to be deprecated from version 0.22 and will be removed in 0.24.
  warnings.warn(msg, FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/tree/_classes.py:1262: FutureWarning: the n_classes_ attribute is to be deprecated from version 0.22 and will be removed in 0.24.
  warnings.warn(msg, FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/tree/_classes.py:1254: FutureWarning: the classes_ attribute is to be deprecated from version 0.22 and will be removed in 0.24.
  warnings.warn(msg, FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/tree/_classes.py:1262: FutureWarning: the n_classes_ attribute is to be deprecated from version 0.22 and will be removed in 0.24.
  warnings.warn(msg, FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/tree/_classes.py:1254: FutureWarning: the classes_ attribute is to be deprecated from version 0.22 and will be removed in 0.24.
  warnings.warn(msg, FutureWarning)
/home/maksonvinicio/.local/lib/python3.9/site-packages/sklearn/tree/_classes.py:1262: FutureWarning: the n_classes_ attribute is to be deprecated from version 0.22 and will be removed in 0.24.
  warnings.warn(msg, FutureWarning)

In [2]:
# # 1 - Quantas casas estao disponiveis para compra?
# print('Estao disponiveis para compra:', data.shape[0], '\n')

# # 2 - Quantos atributos as casas tem?
# print('Quantos atributos as casas tem:', data.shape[1], '\n')

# # 3 - Quais sao os atributos da casa?
# print('Quais sao os atributos da casa:', data.columns, '\n')

# # 4 - Qual a casa mais cara?
# print('Valor maxido da casa:', data['price'].max(), '\n')

# # 5 - Qual a casa com maior numero de quartos?
# print('Qual a casa com maior numero de quartos:', data['bedrooms'].max(), '\n')

# # 6 - Qual a soma total de quartos do conjunto de dados?
# print('Qual a soma total de quartos do conjunto de dados:', data['bedrooms'].sum(), '\n')

# # 7 - Quanta casas possuem 2 banheiros?
# print('Quantidade de casas com dois banheiros:', data['bathrooms'].loc[data['bathrooms'] == 2].sum()/2, '\n')

# # 8 - Qual o preco medio de todas as casas do conjunto de dados?
# print('Qual o preco medio de todas as casas do conjunto de dados:', data['price'].mean(), '\n')

# # 9 - Qual o preco medio de casas com 2 banheiros?
# print('Qual o preco medio de casas com 2 banheiros?:',data['price'].loc[data['bathrooms'] == 2].mean(), '\n')

# # 10 - Qual o preco minimo entre as casas com 3 quartos?
# print('Qual o preco minimo entre as casas com 3 quartos:',data['price'].loc[data['bedrooms'] == 3].min(), '\n')   

# # 11 - Quantas casas possuem mais de 300 metros quadrados na sala de estar?
# print('Quantas casas possuem mais de 300 metros quadrados na sala de estar:', data['id'].loc[data['sqft_living'] > 300].count(), '\n')

# # 12 - Quantas casas tem mais de 2 andares?
# print('Quantas casas tem mais de 2 andares:', data['id'].loc[data['floors'] > 2].count(), '\n')

# # 13 - Quantas casas tem vista para o mar?
# print('Quantas casas tem vista para o mar:', data['id'].loc[data['waterfront'] == 1].count(), '\n')

# # 14 - Das casas com vista para o mar, quantas tem 3 quartos?
# print('Das casas com vista para o mar, quantas tem 3 quartos:', data['id'].loc[data['bedrooms'] == 3].loc[data['waterfront'] == 1].count(), '\n')

# # 15 - Das casas com mais de 300 metros quadrados de sala de estar, quantas possuem 3 banheiros?
# data['m2_living'] = data['sqft_living'] * 0.093

# print('Das casas com mais de 300 metros quadrados de sala de estar, quantas possuem 2 banheiros:', data['id'].loc[data['m2_living'] > 300].loc[data['bathrooms'] > 2].count(), '\n')